# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Table of Data Science Tools
- Example arthmetic expression evaluations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn
4. Scipy

|Data Science Tools|
|------|
|R Studio|
|Visual Studio code|
|Jupyter notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mythreya Seetharama